
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient( #68EACC 0%, #487BE8 100%);
}

.container{
    width: 350px;
    height: 420px; 
    margin: 150px auto;
    background-color: #fff;
    border-radius: 10px;

    .h2{
        font-weight: 800;
        padding: 20px 0 15px 5px;
    }
    
    .add-tasks{
        display:flex;
        height: 45px;
        width: 95%;
        margin: 0 auto;
        margin-bottom: 10px;

        .form-control{
            width: 85%;
        }
        .btn1{
            padding: 0;
            border: none;
            margin-left: 5px;
            height: 45px;
            color: #8E49E8;
            border-radius: 10px;
            background-color: #fff;
            opacity: 0.6;
            pointer-events: none;
        }
        .active{
                opacity: 1;
                pointer-events: auto;;
        }
    }

    .tasks{
        width: 95%;
        margin-left: 10px;
        max-height: 210px;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;

        .task{
            background-color: #d0d3d6;
            padding-left: 12px;
            height: 43px;
            margin-bottom: 8px;
            display: flex;

            &:hover{
                .btn-danger{
                    right: 0px;
                    transition: all 0.4s ease;
                }

            }

            .h6{
                height: 43px;
                line-height: 43px;
                width: 90%;
            }

            .btn-danger{
                height: 43px;
                position:absolute;
                right: -100px;
            }
        }
    }
    
    .show-all-tasks{
        margin: 10px 0 0 10px;
        width: 95%;
        display: flex;
        height: 45px;
        justify-content: space-between;

        .h5{
            font-size: 14px;
            font-weight: 900;
            line-height: 45px;
        }
        .btn-warning{
            height: 40px;
            color: red;
            font-weight: 500;

            &:hover{
                background-color: red;
                color: #fff;
            }
        }
    }
    
}